@model ConversationUserSM

<style>

    .header-info {
        background-color: #ededed;
        display: flex;
        flex-direction: row;
        padding: 15px;
        height: 70px;
        min-height: 70px;
    }

        .header-info:hover {
            cursor: pointer;
            background-color: #d6d6d6;
        }

    .push {
        margin-left: auto;
    }

    .header-info > span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
    }

    .div-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .div-img > img {
            border-radius: 65px;
        }

    .vision {
        flex: 5;
        min-height: 400px;
    }

    .messages {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 180px;
        background-color: #ededed;
    }

    .messages-box {
        flex: 1;
    }

    .messages-line {
        min-height: 40px;
        height: 40px;
    }

    .search > .msg-line-background {
        background-image: url("/images/send.png");
    }

    .messages-box {
        overflow-y: auto;
    }

    .message-box-message {
        padding: 5px 10px 5px 10px;
        display: flex;
        flex-direction: row;
    }

        .message-box-message > .date {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 20%;
        }

        .message-box-message > .user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 20%;
        }

        .message-box-message > .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60%;
        }

    .unread-message {
        background-color: #d6d6d6;
    }
</style>

<div class="header-info" id="@Model.ID">
    <span class="div-img">
        <img src="~/images/@Model.Image" class="img40" />
    </span>
    <span>@Model.Name</span>
    @if (!Model.IsConversation)
    {
        <span class="div-img">
            <img src="~/images/condition-on.jpg" class="img10" />
        </span>
    }
    <span class="push"></span>
    <span class="div-img">
        <img name="@Model.ID" src="~/images/call.png" id="startCalling" class="img40 hover-mouse" />
    </span>
    <span class="div-img">
        <img name="@Model.ID" src="~/images/call-end.png" id="endCalling" class="img40 hover-mouse" style="display:none" />
    </span>
    <span class="div-img">
        <img name="@Model.ID" src="~/images/deleteIcon.png" id="outFromConversation" class="img40 hover-mouse" />
    </span>
    @if (Model.IsAdmin)
    {
        <span>
            <img name="@Model.ID" style="border-radius:60px" id="addUserToConversation" src="~/images/addIcon.jpg" class="img40 hover-mouse" />
        </span>
    }
</div>

<div id="vision" class="vision">
</div>

<div class="messages">
    <div id="message-box" name="@Model.ConversationID" class="messages-box">
        @foreach (var message in Model.ConversationMessageSMs)
        {
            <div id="@message.ID" class="message-box-message @(message.IsRead?"":"unread-message")">
                <div class="date">@message.Time</div>
                <div class="user">@message.Sender:</div>
                <div class="content">@message.Content</div>
            </div>
        }
    </div>
    <div class="messages-line">
        <div class="search">
            <input name="@Model.ConversationID" id="msg-input" class="msg-line-background" type="text" />
        </div>
    </div>
</div>