@{
    ViewData["Title"] = "Home Page";
}
@{
    int userID = Convert.ToInt32(User.Claims.ToList()[1].Value);
    ChatContext chatContext = new ChatContext();
    var user = chatContext.Users.Find(userID);
}

<style>
    .choice-modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5% 10% 5% 10%;
        font-size: 14pt;
    }

    .modal-content {
        padding: 20px;
    }

    .call-input-body {
        display: flex;
        flex-direction: row;
        padding: 10px 30px 10px 30px;
    }

        .call-input-body > span {
            padding-left: 20px;
        }
</style>

<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="ModalWindow" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="modalContent" class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="modalWindow-AddUser" tabindex="-1" role="dialog" aria-labelledby="ModalWindow" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="modalContent-tmp" class="modal-content">
            <div class="search">
                <input id="search-input-add-conversation" type="text" />
            </div>
            <div id="modalContent-AddUser"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalWindow-CallInput" tabindex="-1" role="dialog" aria-labelledby="ModalWindow" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="modalContent-tmp" class="modal-content">
            <div class="call-input-body">
                <span>
                    <img src="~/images/call.png" class="img40" />
                </span>
                <span>
                    <img src="~/images/call-end.png" class="img40" />
                </span>
                <span id="call-input-name"></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="choiceModal" tabindex="-1" role="dialog" aria-labelledby="choiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content choice-modal">
            Are you sure?
            <div class="modal-footer">
                <input class="btn btn-success" value="Yes" id="choiceModal-Yes" />
                <input class="btn btn-danger" data-dismiss="modal" value="No" id="choiceModal-No" />
            </div>
        </div>
    </div>
</div>

<div class="f-column column">
    <div id="userSettings" class="user-info">
        <img src="~/images/DefaultUserImg.png" class="img40" />
        <span>@Html.StringLengthValidate(user.Login)</span>
        <img src="~/images/condition-on.jpg" class="img10" />
    </div>
    <div class="search">
        <input id="search-input" type="text" />
    </div>
    <div class="tabs-line">
        <span name="list-output" class="tab-header tab-header-active">Conversations</span>
        <span name="Notifications" class="tab-header">
            <span>
                <span style="display:none" class="tab-header-img"></span>
            </span>
            Notifications
        </span>
    </div>
    <div id="list-output" class="list-output">
    </div>
    <div id="Notifications" class="list-output" style="display:none">
    </div>
</div>
<div id="s-column" class="s-column column">
    <div style="height:100%; display: flex; flex-direction:column; justify-content:center;">
        <img style="width:100%" src="~/images/startImage.jpg" />
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script>

    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": 300,
        "hideDuration": 1000,
        "timeOut": 5000,
        "extendedTimeOut": 1000,
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    // On Start page
    $(function () {

        var modalWindow = $("#modalWindow");
        var modalWindowContent = $("#modalContent");

        var modalChoice = $('#choiceModal');
        var modalChoiceYes = $('#choiceModal-Yes');
        var modalChoiceNo = $('#choiceModal-No');

        var modalAddUser = $('#modalWindow-AddUser');
        var modalAddUserContent = $('#modalContent-AddUser')

        var messageBox = null;

        $(modalWindow).on("hidden.bs.modal", function () { isModalOpen = false; });
        $(modalAddUser).on("hidden.bs.modal", function () {
            isModalOpen = false;
            $('#search-input-add-conversation').val("");
        });
        $(modalChoice).on("hidden.bs.modal", function () { isModalOpen = false; });

        var isModalOpen = false;


        var protocol = location.protocol === "https:" ? "wss:" : "ws:";
        var wsUri = protocol + "//" + window.location.host;
        var socket = new WebSocket(wsUri);
        socket.onopen = e => {
           var jsonStart = '{"user":"@userID"}';
           socket.send(jsonStart);
           console.log("socket opened", e);
         };

         socket.onclose = function (e) {
             console.log("socket closed", e);
         };

        socket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            switch (data["type"]) {
                case "messanger":
                    if (messageBox !== null) {
                        if (data["conversation"] === $(messageBox).attr('name')) {
                            var newMsg = document.createElement("div");
                            $(newMsg).attr('class', 'message-box-message' + (data["author"] === @userID ? '' : ' unread-message'));
                            $(newMsg).attr('id', data["id"]);
                            var date = document.createElement("div");
                            $(date).attr("class", 'date');
                            $(date).html(data["date"]);
                            var user = document.createElement('div');
                            $(user).attr("class", 'user');
                            $(user).html(data["user"]);
                            var content = document.createElement('div');
                            $(content).attr("class", 'content');
                            $(content).html(data["content"]);

                            $(newMsg).append(date);
                            $(newMsg).append(user);
                            $(newMsg).append(content);

                            $(messageBox).append(newMsg);
                        }
                    }
                    break;
                case "notification":{
                        switch (data["method"]) {
                            case 0:
                                LoadConversations();
                                break;
                            case 1:
                                LoadNotifications();
                                break;
                            case 2:
                                break;
                            case 3:
                                break;
                        }
                    }
                    break;
            }
        };

         socket.onerror = function (e) {
             console.error(e.data);
             toastr["error"](e.data);
         };

        function SendNotification(userId, notifType) {
            var json = new Object();
            json["type"] = 'notification';
            json["method"] = notifType;
            json["userTo"] = userId;

            socket.send(JSON.stringify(json).toString());
        }

        function StartCall(userId) {

        }

        var isActive;

        window.onfocus = function () {
            isActive = true;
        };

        window.onblur = function () {
            isActive = false;
        };

        setInterval(function () {
            if (isActive) {
                $('.message-box-message.unread-message').each(function (i,obj) {
                    $(obj).attr('class', 'message-box-message');
                    AjaxPost({ message: $(obj).attr("id"), user: "@userID" }, "@Url.Action("ReadMessage", "Home")", function (e) {
                    });
                });
            }
        },1000);

        $('#userSettings').click(function () {
            AjaxPost({ user: "@userID" }, "@Url.Action("LoadUserSettings", "Home")", function (e) {
                $('#s-column').html(e);
                $('#saveUserSettings').click(function (e) {
                    $('#userSettingsForm').submit();
                });
            });
        });

        function GetStartPage() {
            $("#s-column").html('<img style="width:100%" src="~/images/startImage.jpg" />');
        }

        function LoadConversations() {
            AjaxPost({ "user": "@userID" }, "@Url.Action("GetConversations","Home")", function (e) {
                $("#list-output").html(e);
                $(".conversation").click(function () {
                    OpenConversation($(this).attr("id"));
                });
            });
        }

        function LoadNotifications() {
            AjaxPost({ "user": "@userID" }, "@Url.Action("GetNotifications","Home")", function (e) {
                $("#Notifications").html(e);
                $(".notification").click(function () {
                    OpenNotification($(this).attr("id"));
                });
                if ($('#notificationCount').val() > 0) {
                    $('.tab-header-img').css('display', 'flex');
                    $('.tab-header-img').html($('#notificationCount').val());
                } else {
                    $('.tab-header-img').css('display', 'none');
                }
            });
        }

        LoadConversations();
        LoadNotifications();

        function AddUserToCoversation(conversation) {
            if (isModalOpen)
                return;
            isModalOpen = true;
            AjaxPost({ find: "", user: "@userID", conversation: $(conversation).attr("name") }, "@Url.Action("FindOnlyFriends")", function (e) {
                $(modalAddUserContent).html(e);
                $(modalAddUser).modal("show");
                $('#search-input-add-conversation').keyup(function () {
                    var text = $(this).val().trim();
                    if (text.length === 0)
                        return;
                    AjaxPost({ find: text, user: "@userID", conversation: $(conversation).attr("name") }, "@Url.Action("FindOnlyFriends")", function (e) {
                        $(modalAddUserContent).html(e);
                        $('.contact-find-add').click(function () {
                            var userID = $(this).attr("id");
                            AjaxPost({ user: "@userID", friend: userID, conversation: $(conversation).attr("name") }, "@Url.Action("AddUserToConversation", "Home")", function (e) {
                                toastr[e ? "success" : "error"]("Add " + (e ? "success" : "error"));
                                if (e) SendNotification(userID, 1);
                                $(modalAddUser).modal("hide");
                            });
                        });
                    });
                });
            });
        }


        function OpenNotification(id) {
            AjaxPost({ "user": "@userID", "notification": id }, "@Url.Action("OpenNotification","Home")",
                function (e) {
                    $("#s-column").html(e);
                    $("#acceptFriend").click(function () {
                        var id = $(this).attr("name");
                        var creatorId = $('#notification-creatorID').val();
                        AjaxPost({ "user": "@userID", "notification": id }, "@Url.Action("AcceptFriend","Home")",
                            function (e) {
                                OpenConversation(e);
                                LoadNotifications();
                                LoadConversations();
                                SendNotification(creatorId, 0);
                            });
                    });
                    $("#declineFriend").click(function () {
                        var id = $(this).attr("name");
                        var creatorId = $('#notification-creatorID').val();
                        AjaxPost({ "user": "@userID", "notification": id }, "@Url.Action("DeclineFriend","Home")",
                            function (e) {
                                GetStartPage();
                                LoadNotifications();
                                SendNotification(creatorId, 0);
                            });
                    });
                });
        }

        // Searching conversations and friends
        $('#search-input').keyup(function () {
            var text = $(this).val().trim();
            if (text.length === 0) {
                LoadConversations();
            }
            else {
                AjaxPost({ "find": text, "user": "@userID" },
                    "@Url.Action("FindResult", "Home")",
                    function (e) {
                        $('#list-output').html(e);
                        $('.contact-find').click(function () { OpenContact($(this).attr("id")); });
                    });
            }
        });

        function OpenContact(id) {
            AjaxPost({ "user": "@userID", "another": id },
            "@Url.Action("OpenContact","Home")",
            function (e) {
                $('.s-column').html(e);
                InitOpenContact();
            });
        }

        function InitOpenContact() {
            $("#deleteFriend").click(function () {
            });
            $("#addFriend").click(function () {
                var nUser = $(this).attr("name");
                AjaxPost({ "user": "@userID", "newFriend": nUser },
                    "@Url.Action("AddFriend","Home")", function (e) {
                        if (!e)
                            toastr["error"]("Unreport exception");
                        else {
                            toastr["success"]("Success adding");
                            OpenContact(nUser);
                            SendNotification(nUser, 1);
                        }
                    });
            });
        }

        function LoadInfoAboutConversation(conversation, ignore = false) {
            if (isModalOpen && !ignore)
                return;
            var id = $(conversation).attr("id");
            AjaxPost({ "user": "@userID", "conversation": id }, "@Url.Action("ConversationInfo")",
                function (e) {
                    $(modalWindowContent).html(e);
                    $('.deleteFromConversation').click(function () {
                        var idUser = $(this).attr("id");
                        OpenChoiceModal(function () {
                            AjaxPost({ conversation: id, user: idUser }, "@Url.Action("DeleteUserFromConversation")", function (e) {
                                toastr[e ? "success" : "error"]("Deleting " + (e ? "success" : "error"));
                                LoadInfoAboutConversation(conversation, true);
                            });
                        }, true);
                    });

                    $('.setAdminUser').click(function () {
                        var idUser = $(this).attr('id');
                        OpenChoiceModal(function () {
                            AjaxPost({ conversation: id, user: idUser }, "@Url.Action("SetUserAdmin")", function (e) {
                                toastr[e ? "success" : "error"]("Set user " + (e ? "success" : "error"));
                                LoadInfoAboutConversation(conversation, true);
                            });
                        },true);
                    })
                    $(modalWindow).modal("show");
                    isModalOpen = true;
                });
        }

        function OpenConversation(id) {
            AjaxPost({ "user": "@userID", "conversation": id }, "@Url.Action("OpenConversation", "Home")",
                function (e) {

                    $("#s-column").html(e);
                    /// Realize

                    messageBox = $('#message-box');

                    $(".header-info").click(function () {
                        LoadInfoAboutConversation(this);
                    });

                    $('#addUserToConversation').click(function () {
                        AddUserToCoversation(this);
                    });

                    $('#msg-input').keypress(function (e) {
                        if (e.keyCode === 13) {
                            var json = '{"type" : "messanger", "method": "sendMessage", "conversation":"'
                                + $(this).attr('name') + '",content:"' + $(this).val() + '"}';
                            socket.send(json);
                            $(this).val('');
                        }
                    });

                    $('#outFromConversation').click(function () {
                        var id = $(this).attr('name');
                        OpenChoiceModal(function () {
                            AjaxPost({ conversation: id, user: "@userID" }, "@Url.Action("DeleteUserFromConversation")", function (e) {
                                GetStartPage();
                                LoadConversations();
                            });
                        });
                    });
                });
        }

        function OpenChoiceModal(successFunction, ignore = false) {
            if (isModalOpen && !ignore)
                return;
            isModalOpen = true;
            $(modalChoiceYes).click(function () {
                successFunction();
                $(modalChoice).modal('hide');
            });
            $(modalChoice).modal("show");
        }

        /// Переписать под универсал!
        $('.tab-header').click(function () {
            var getElementActive = $('.tab-header.tab-header-active').first();
            var idActive = $(getElementActive).attr("name");
            var id = $(this).attr("name");
            if (this !== getElementActive) {
                $(this).attr("class", "tab-header tab-header-active");
                $('#' + id).css("display", "block");
                $(getElementActive).attr("class", "tab-header");
                $('#' + idActive).css("display","none");
            }
        });

    });


    function AjaxPost(data, url, success) {
        $.ajax({
            url: url,
            data: data,
            method: "POST",
            success: success,
            error: function (jqXHR, textStatus, errorThrown) {
                toastr["error"](jqXHR.responseText);
            }
        });
    }

    function AjaxGet(data, url, success) {
        $.ajax({
            url: url,
            data: data,
            method: "GET",
            success: success,
            error: function (error) {

            }
        });
    }

</script>


