@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/Account.css" />
</head>

<div class="form">

    <div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.LabelFor(x => x.Login)
        @Html.TextBoxFor(x => x.Login, null, new { @class = "input-text" })

        <br>

        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "input-text" })

        <input class="btn btn-success btn-submit" type="submit" value="Login" />
        @Html.ActionLink("Register", "Register", "Account", new { }, new { @class = "btn btn-success btn-submit" })
    }


</div>

