@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{

    <span asp-validation-for="Birthday"></span>
    <span asp-validation-for="Email"></span>
    <span asp-validation-for="Password"></span>
    <span asp-validation-for="ConfirmedPassword"></span>

    @Html.LabelFor(x => x.Email)
    @Html.TextBoxFor(x => x.Email)

    <br />

    @Html.LabelFor(x => x.Password)
    @Html.TextBoxFor(x => x.Password)

    <br />

    @Html.LabelFor(x => x.ConfirmedPassword)
    @Html.TextBoxFor(x => x.ConfirmedPassword)

    <br />

    @Html.LabelFor(x => x.Birthday, new { type = "date" })
    @Html.TextBoxFor(x => x.Birthday, new { type = "date" })

    <br />

    <input type="submit" value="Register" />
}