@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href="~/css/Account.css" />
</head>

<style>

    form {
        width: 30%;
    }

    label {
        width: 55%;
        text-align: right;
    }

    .input-text {
        width: 45%;
    }
</style>

<div class="form">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {

        <div class="text-danger">
            <span asp-validation-for="Birthday"></span>
            <span asp-validation-for="Email"></span>
            <span asp-validation-for="Password"></span>
            <span asp-validation-for="ConfirmedPassword"></span>
        </div>
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, null, new { @class = "input-text" })

        <br />

        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "input-text" })

        <br />

        @Html.Label("Confirmed Password")
        @Html.PasswordFor(x => x.ConfirmedPassword, new { @class = "input-text" })

        <br />

        @Html.LabelFor(x => x.Birthday, new { type = "date" })
        @Html.TextBoxFor(x => x.Birthday, null, new { type = "date" })


        <input class="btn btn-submit btn-success" type="submit" value="Register" />
    }

</div>